@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}


/*=============================================
            Propiedades generales 
 ============================================= */

.text-primary,
.bg-primary {
    color: #2b435c !important;
}

.btn-primary {
    background-color: #2b435c !important;
}

.btn-primary:hover {
    background-color: #6683a2 !important;
}

.font-weight-bold {
    font-weight: 800;
}

.icon-primary-color {
    color: #2b435c;
}

.footer-bgAlt {
    background-color: #2b435c;
    color: white;
}


/*=============================================
            Propiedades especificas 
 ============================================= */


/* Menu */

#menu li>a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}

#menu form>button {
    font-size: 18px;
    font-weight: bold;
}


/* ======================== */


/* Slider de imagenes */

.carousel-inner {
    max-height: 39rem;
}


/* ======================== */


/* Seccion nuestro equipo imagen */


/* ======================== */


/* Seccion nuestro equipo mapa */

.mapa {
    background: url(../img/mapa.png);
    width: 100%;
    height: 500px;
}

#local {
    background: #f3f3f3;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 50%;
    margin-left: 100px;
    padding-top: 150px;
}

.casds {
    color: #4263ae;
}


/* ======================== */


/* Seccion nuestro equipo Montevideo */

#numeros-local div {
    padding: 0 20px 0 0;
    height: 48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
}

#numeros-local div:not(:first-child) {
    padding-left: 20px;
}

#numeros-local p {
    margin: 0;
}


/* ======================== */


/* ======================== */


/* Contactos BG */

#bg-contacto {
    position: relative;
    top: -130px;
}

#seccion-contacto {
    background-color: #1B2A4E;
    min-height: 500px;
    position: relative;
}

.border-black {
    color: black;
}


/* QUIENES SOMOS */

.paddingx60 {
    padding: 60px 0px 60px 0px;
}


/* ======================== */


/* ======================== */


/* ======================== */

.gray-bg {
    background: #F1F1F1 !important;
}

.about-title {}

.about-title h1 {
    color: #535353;
    font-size: 45px;
    font-weight: 600;
}

.about-title span {
    color: #1B2A4E;
    font-size: 45px;
    font-weight: 700;
}

.about-title h3 {
    color: #535353;
    font-size: 23px;
    margin-bottom: 24px;
}

.about-title p {
    color: #7a7a7a;
    line-height: 1.8;
    margin: 0 0 15px;
}

.about-paddingB {
    padding-bottom: 12px;
}

.about-img {
    padding-left: 57px;
}


/* Social Icons */

.about-icons {
    margin: 48px 0px 48px 0px;
}

.about-icons i {
    margin-right: 10px;
    padding: 0px;
    font-size: 35px;
    color: #323232;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
}

.about-icons li {
    margin: 0px;
    padding: 0;
    display: inline-block;
}

#social-fb:hover {
    color: #3B5998;
    transition: all .001s;
}

#social-tw:hover {
    color: #4099FF;
    transition: all .001s;
}

#social-gp:hover {
    color: #d34836;
    transition: all .001s;
}

#social-em:hover {
    color: #f39c12;
    transition: all .001s;
}


/* PAGINA EQUIPO */


/* MEDIA QUERIES WIDESCREEN */

@media(max-width:1200px) {
    #local {
        flex-wrap: wrap;
        padding-top: 30px;
    }
    .wrapper {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}


/* ======================== */


/* ======================== */


/* MEDIA QUERIES SM */

@media (max-width:768px) {
    #intro,
    #equipo {
        width: 90% !important;
        margin: auto;
    }
    #img-equipo {
        max-height: 20rem !important;
        width: 90%;
    }
    .wrapper-local {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
    #local {
        flex-wrap: wrap;
    }
    .mapa img {
        width: 100%;
        height: auto;
    }
    #bg-contactos {
        top: -120px;
    }
}


/* ======================== */


/* ======================== */


/* MEDIA QUERIES EXTRA-SM */

@media(max-width:576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }
}